{
  "project_info": {
    "project_number": "914733252125",
    "project_id": "istri-82971",
    "storage_bucket": "istri-82971.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_YOUR_ANDROID_APP_ID",
        "android_client_info": {
          "package_name": "com.shinecycle.laundry"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "REPLACE_WITH_YOUR_ANDROID_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
